/.DS_Store
/example/.DS_Store
.DS_Store
/KKProgressToolbar.xcworkspace/xcuserdata/adarporat.xcuserdatad/UserInterfaceState.xcuserstate
/KKProgressToolbar.xcworkspace/xcuserdata/adarporat.xcuserdatad/WorkspaceSettings.xcsettings
/KKProgressToolbar.xcworkspace/xcuserdata/hadarporat.xcuserdatad/UserInterfaceState.xcuserstate
/KKProgressToolbar.xcworkspace/xcuserdata/hadarporat.xcuserdatad/WorkspaceSettings.xcsettings
/example/KKProgressToolbarDemo.xcodeproj/project.xcworkspace/xcuserdata/adarporat.xcuserdatad/UserInterfaceState.xcuserstate
/example/KKProgressToolbarDemo.xcodeproj/xcuserdata/adarporat.xcuserdatad/xcschemes/xcschememanagement.plist
/example/KKProgressToolbarDemo.xcodeproj/xcuserdata/adarporat.xcuserdatad/xcschemes/KKProgressToolbarDemo.xcscheme
/example/KKProgressToolbarDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata